/* p{
    background-color: red;
} */

.selection_bubble {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  margin: 1em 0 3em;
  border: 5px solid #5a8f00;
  color: #333;
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

}
.bubble_image{
    width: 170px;
    height: auto;
}